#vwSubmit, #dnSubmit{
  margin-top: 5%;
  height: 55px;
}
#nb, #labeleen{
  font-size: 10px;
}
/*#labeleen{
  font-size: 10px;
}*/
#labeleen input{
  margin-left: 2%;
}
label{
  font-weight: 100;
}
legend{
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 3%
}
form {
  width: 80%;
}
#dnAkkoord, #vwAkkoord{
  padding: 1%;
  margin: 1%;
}
#vwEmail {
  margin-top: 6%;
}
#dnIntro, #vwIntro {
  margin-top: 1%;
}
.entry {
  margin-top: 6%;
}